body{
  margin:0;
  font-family:Segoe UI;
  display:flex;
  height:100vh;
}

/* SIDEBAR */
#sidebar{
  width:300px;
  background:#f4f6ff;
  overflow:auto;
}

.user{
  padding:12px;
  margin:8px;
  background:white;
  border-radius:10px;
  cursor:pointer;
}

/* CHAT */
#chat{
  flex:1;
  display:flex;
  flex-direction:column;
}

#header{
  background:#2b579a;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
}

#messages{
  flex:1;
  overflow:auto;
  padding:10px;
}

.msg{
  padding:10px;
  margin:5px;
  border-radius:10px;
  max-width:70%;
}

.me{ background:#c8f7c5; margin-left:auto; }
.other{ background:white; }

#input{
  display:flex;
}

#input input{
  flex:1;
  padding:10px;
}